body {
  background-color: aqua;
  padding: 20px;
}

h1 {
  color: rgb(183, 33, 7);
}

button {
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
  font-size: 20px;
  font-weight: 600;
  color: blue;
  border-radius: 10px;
}

p {
  font-size: 20px;
  font-weight: 600;
  color: red;
}

input {
  width: 250px;
  height: 50px;
  margin: 5px;
  text-indent: 5px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(43, 40, 40);
  border-radius: 10px;
}

.addition {
  background-color: beige;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 2px solid red;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  display: flex;
  align-items: center;
}
